html{
    background-color: rgb(206, 236, 246);
}
.white{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 5%;
    padding: 15px;
    margin-left: 500px;
    margin-top: 100px;
}
.blue{
    padding-bottom: 20px;
    
}
img{
    height: 300px;
    border-radius: 5%;
    
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: large;
}
span{
    color: midnightblue;
}
.top{
    font-weight: 700;
}
.attribution{
    text-align: right;
    font-family: "Roboto", sans-serif ;
}
